html {
    font-size: 30px;
}

* {
    font-family: 'Kanit', sans-serif;
}

.title {
    font-size: 2rem;
    color: white;
    background-color: black;
    text-align: center;
}

.imagen {
    text-align: center;
}